body {
  font-family: Arial, "Verdana", Impact;
  color: #ffffff;
  background-color: #000000;
  font-size: 38px;
  margin-top: 20px;
  margin-bottom: 0px;
  margin-right: 20px;
  margin-left: 20px;
}

h1 {
  font-size: 42px;
  text-align: center;
  padding: 15px;
}

h2 {
  font-size: 30px;
  color: #0D0D0D;
}

p {
  font-size: 24px;
  padding: 10px 0px 10px 0px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  border: 10px dashed white;
}

div {
  min-height: 125px;
  padding: 20px;
  border: 3px solid white;
}

.introduction {
  border-radius: 15px;
  margin-top: 15px;
  line-height: 2;
}

.red {
  background-color: #FF0000;
  text-align: right;
  margin-left: 50px;
  border-left: 5px solid white;
  border-bottom: 2px solid white;
  border-right: 0px;
  border-top: 0px;
}

div.blue {
  background-color: #0000FF;
  text-align: left;
  margin-right: 50px;
  border-left: 0px;
  border-bottom: 0px;
  border-right: 5px solid white;
  border-top: 2px soild white;
  color: #C4C4C4;
}

div.blue h2 {
  color: #C4C4C4;
}

div.yellow {
  background-color: #FFFF00;
  text-align: right;
  margin-left: 50px;
  border-left: 5px solid white;
  border-bottom: 2px solid white;
  border-right: 0px;
  border-top: 0px;
  color: #707070;
}

div.green {
  background-color: #008500;
  text-align: left;
  margin-right: 50px;
  border-left: 0px;
  border-bottom: 0px;
  border-right: 5px solid white;
  border-top: 2px solid white;
  
}

footer {
  background-image: linear-gradient(90deg, #000000 0%, #0000ff 25%, #0066ff 70%, #000000 100%);
  border: 5px solid white;
}

footer p {
  font-size: 20px;
  text-align: right;
  padding: 15px 15px 15px 0px;
}